### Type Casting

- Change one data type to another data type
- int -> float
- int -> string
- int -> boolean
- int -> complex

In [5]:
# integer to other data types

number1 = 100
number1

100

In [6]:
type(number1)

int

In [13]:
# int to float
number1f = float(number1)
number1f

100.0

In [21]:
number1f = float(number1)
number1str = str(number1)
number1bool = bool(number1)
number1compx = complex(number1)

print(number1f)
print(number1str)
print(number1bool) # 0 & < 0 is false
print(number1compx)

print(type(number1f))
print(type(number1str))
print(type(number1bool))
print(type(number1compx))

100.0
100
True
(100+0j)
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

##### Change float data type to another data type
- float -> int
- float -> string
- float -> boolean
- float -> complex

In [22]:
# float to other data types
gpa = 3.6
print(gpa)
print(type(gpa))

3.6
<class 'float'>

In [25]:
gpa_int = int(gpa)
gpa_bool = bool(gpa)
gpa_string = str(gpa)
gpa_complex = complex(gpa)

print(gpa_int)
print(gpa_bool)
print(gpa_string)
print(gpa_complex)

print(type(gpa_int))
print(type(gpa_bool))
print(type(gpa_string))
print(type(gpa_complex))

3
True
3.6
(3.6+0j)
<class 'int'>
<class 'bool'>
<class 'str'>
<class 'complex'>

##### Change string data type to another data type
- str -> int
- str -> float
- str -> boolean
- str -> complex

In [26]:
full_name = "Thomas Shelby"
print(full_name)
print(type(full_name))

Thomas Shelby
<class 'str'>

In [40]:
# full_name_int = int(full_name) # cannot be converted - invalid literal for int() with base 10
# full_name_float = float(full_name) # error
full_name_bool = bool(full_name)
# full_name_complex = complex(full_name) # error

num_str = "83" # base type: float, but the representation is in strings - error. In case of just 83 it works
num_str_int = int(num_str)
num_str_float = float(num_str)
num_str_complex = complex(num_str)

print(full_name_bool) # empty string ("") is false
print(num_str_float)
print(num_str_complex)

True
83.0
(83+0j)

In [44]:
int("10.5")

ValueError: invalid literal for int() with base 10: '10.5'

In [46]:
print(complex("10.5"))
print(complex(10.5))

(10.5+0j)
(10.5+0j)

In [47]:
float('10.5')
float(10.5)

10.5

In [48]:
# converting float number of string type to integer without error
num_fs = "10.34"
num_fs_float = float(num_fs)
num_fs_int = int(num_fs_float)
print(num_fs_int)

10

In [ ]:
##### Change string data type to another data type
- bool -> int
- bool -> float
- bool -> boolean
- str -> complex

In [49]:
value_bool = True
int(value_bool)

1

In [65]:
# complex to other
value_complex = 10.2+2j
# value_complex_int = int(value_complex)
# value_complex_float = float(value_complex)
value_complex_str = str(value_complex)
value_complex_bool = bool(value_complex)


print(value_complex_str)
print(value_complex_bool)

print(type(value_complex_str))
print(type(value_complex_bool))

(10.2+2j)
True
<class 'str'>
<class 'bool'>